- if @products
  %br
  .container
    .row
      .col-sm-2
        #logo.navbar-brand= link_to 'ご注文はカバですか？', '/'
      .col-sm-6.pull-right
        %form.form-inline{ method: 'post' }
          = token_tag
          .form-group
            %label.control-label たき火
            %input.form-control{ type: 'number', name: 'takibi', value: @takibi, min: 1, max:5 }
          .form-group
            %label.control-label 日曜大工
            %input.form-control{ type: 'number', name: 'daiku', value: @daiku, min: 1, max:5 }
          %button.btn.btn-default{ type: 'submit' } グレードUP
    .row
      - @products.each do |product|
        %div{ id: "product#{product.id}", 'data-toggle' => 'tooltip', title: product.tooltip, class: "product #{product.processed? ? 'processed' : ''}" }
          .row
            .col-sm-10= product.name
            .col-sm-2.text-right= "Lv#{product.required_level}"
          .row
            .col-sm-2
              -#%center= image_tag "#{1}.png"
            .col-sm-10
              .row
                .col-sm-8 生産時間
                .col-sm-4.text-right= product.duration.format('%H:%M:%S')
              .row
                .col-sm-8 1回あたり生産量
                .col-sm-4.text-right= product.actual_amount
              .row
                .col-sm-8 単位生産時間
                .col-sm-4.text-right= product.actual_duration.format('%H:%M:%S')
              .row
                .col-sm-8 実質単位生産時間
                .col-sm-4.text-right= product.total_actual_duration.format('%H:%M:%S')

:javascript
  $('#logo').tooltip({title: 'いいえ、妖精です。', placement: 'bottom'});
  for(var i = 1; i <= 61; i++ ){
    $('#product' + i.toString()).tooltip({
      animation: true,
      placement: 'right',
      html: true
    });
  }